*{
    margin: 0;
    padding: 0;
}
.body{
    margin-top: 50px;
    padding-right: 150px;
    padding-left: 150px;
}
.head{
    width: 100%;
    flex-direction: row;
    /* border: 2x solid black; */
    display: flex;
    justify-content: space-between;
    /* border: 2px solid black; */
    box-sizing: border-box;
}
h1.name{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 35px;
    text-transform: uppercase;
}
p.department{
    font-family: 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    width: fit-content;
}


div.EndPart{
    font-family: 'Trebuchet MS', sans-serif; 
    /* border: 1px solid red;  */
}
div.StartPart{
    width: fit-content;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
.InfoHead{
    font-weight: bold;
}
hr{
    margin-top: 7px;
    background-color: #8080801a;
    width: 100%;
    height: 1px;
    border: none;
}
.education{
    box-sizing: border-box;
    font-family: 'Trebuchet MS', sans-serif;
    width: 100%;
    margin-top: 25px;
    }
 .ed_head{
    background-color:rgba(128, 128, 128, 0.156);
    text-align: center;
    height: 31px;
    font-size: 22px;
    
    text-transform: uppercase;
    box-sizing: border-box;   
    width: 100%;
}
.education .edu_1{
    width: 50%;
    float: right;
    border: 1px solid black;
    box-sizing: border-box;
    margin-top: 10px;
    font-style: italic;
}
.education .edu_1 .edu_1_1{
    font-weight: bold;
    font-size: 18px;
    
}
.education .edu_1 .edu_1_2{
    margin-top: 3px;
    font-size: 17px;  
}
.education .edu_1 .edu_1_3{
    margin-top: 4px;
    font-size: 17px;  
    color: rgba(0, 0, 0, 0.451);
}

.education .edu_2{
    width: 50%;
    float: left;
    border: 1px solid black;
    box-sizing: border-box;
    margin-top: 15px;
    font-style: italic;
}

.education .edu_2 .edu_2_1{
    font-weight: bold;
    font-size: 18px;
    
}
.education .edu_2 .edu_2_2{
    margin-top: 3px;
    font-size: 17px;  
}
.education .edu_2 .edu_2_3{
    margin-top: 4px;
    font-size: 17px;  
    color: rgba(0, 0, 0, 0.451);
}

.education .edu_3 .edu_3_1{
    font-weight: bold;
    font-size: 18px;
    
}
.education .edu_3 .edu_3_2{
    margin-top: 3px;
    font-size: 17px;  
}
.education .edu_3 .edu_3_3{
    margin-top: 4px;
    font-size: 17px;  
    color: rgba(0, 0, 0, 0.451);
}

.education .edu_4 .edu_4_1{
    font-weight: bold;
    font-size: 18px;
    
}
.education .edu_4 .edu_4_2{
    margin-top: 3px;
    font-size: 17px;  
}
.education .edu_4 .edu_4_3{
    margin-top: 4px;
    font-size: 17px;  
    color: rgba(0, 0, 0, 0.451);
}
